/*
COLOR PALETTE
https://coolors.co/f7fff7-ffe66d-a499be-aca885-2a2e45
#F7FFF7 - almost white
#ACA885 - sage
#2A2E45 - space cadet 
#FFE66D - yellow
#A499BE - blue bell
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}


body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a { color: #ffe66d;
  }
a:hover { 
  text-decoration: none;
}
h1{
  font-size: 100px;
  line-height: 1;
  text-shadow: 3px 3px 6px #ACA885;
}
h2 {
  font-size: 45px;
  text-shadow: 2px 2px 4px #2A2E45;
}
h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
.content-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 60px 0;
}

/* Profile
------------------------------------*/
header {
  background: #2A2E45;
  color: #F7FFF7;

}


/* Projects
------------------------------------*/
.projects {
  background: #F7FFF7;
}
.projects a{
color: #2A2E45;
}
.projects .btn {
  color: #F7FFF7;
  background:#2A2E45;
  text-decoration: none;
  padding: 8px;
  border-radius: 4px;
  display: inline-block;
}
.projects .btn:hover{
  background: #2A2E45;
}
.project-items {
  overflow: hidden;
  border-bottom: 1px dashed #343434;
  padding: 25px 0;
}
.project-items img {
  float: left;
  margin-right: 20px;
}
.project-items h3 {
  margin-top: 0;
}


/* Work Experience
------------------------------------*/
.work-experience {
  background: #A499BE;
}


/* Education
------------------------------------*/
.education {
  background: #F7FFF7;
}



/* Contact Info
------------------------------------*/
footer {
  background: #ACA885;
  color: #F7FFF7;
}
